html {
  overflow: auto;
}

body {
  max-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(100deg, #91EAE4, #c6ffdd, #f7797d, #fbd786);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 20s ease infinite;
  -moz-animation: AnimationName 20s ease infinite;
  animation: AnimationName 20s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 99%}
  50%{background-position:100% 2%}
  100%{background-position:0% 99%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 99%}
  50%{background-position:100% 2%}
  100%{background-position:0% 99%}
}
@keyframes AnimationName {
  0%{background-position:0% 99%}
  50%{background-position:100% 2%}
  100%{background-position:0% 99%}
}

.container-main-page {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.gif1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 830px;
  height: 420px;
}

.gif2{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 840px;
  height: 420px;
}

.gif3{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 830px;
  height: 439px;

}

.gif4{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 840px;
  height: 439px;

}
